@font-face {
font-family: 'FFXSIMTH';
src: url('resources/font/FFXSIMTH.woff') format('woff');
font-weight: normal;
font-style: normal;
}	 

html, body { margin: 0; padding: 0; overflow: hidden; border:0;}
body { background-image:url("resources/img/background.png"); background-repeat: no-repeat; background-size: contain; width:1278px; height: 703px; -webkit-user-select: none; -webkit-app-region: no-drag; position: relative;}
*:focus { outline: none; }
img { border: none; -webkit-user-select: none; -webkit-app-region: no-drag; }

ul { padding: 0; margin: 0; list-style-type: none;}
#sidebar { margin-left: 81px; width: 373px; height: 703px;}

#prompt { padding-top: 15px; }
#prompt>p { color: white; font-family: FFXSIMTH; font-size: 20px; cursor: default; margin: 0px; padding: 0px; text-align: center; font-size: 24px; vertical-align: top;}

#menu { padding-top: 78px; }
#button0 { background-image:url("resources/img/ffx_button.png"); width: 373px; height: 82px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; }
#button0[gamepad="selected"], #button0:hover { background-image:url("resources/img/ffx_button-hover.png"); width: 373px; height: 82px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; }
#button1 { background-image:url("resources/img/ffx_ec_button.png"); width: 373px; height: 83px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; }
#button1[gamepad="selected"], #button1:hover { background-image:url("resources/img/ffx_ec_button-hover.png"); width: 373px; height: 83px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; }
#button2 { background-image:url("resources/img/ffx2_button.png"); width: 373px; height: 82px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; }
#button2[gamepad="selected"], #button2:hover { background-image:url("resources/img/ffx2_button-hover.png"); width: 373px; height: 82px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; }
#button3 { background-image:url("resources/img/ffx2_lm_button.png"); width: 373px; height: 82px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; }
#button3[gamepad="selected"], #button3:hover { background-image:url("resources/img/ffx2_lm_button-hover.png"); width: 373px; height: 82px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; }
#button4 { background-image:url("resources/img/credits_button.png"); width: 373px; height: 73px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; }
#button4[gamepad="selected"], #button4:hover { background-image:url("resources/img/credits_button-hover.png"); width: 373px; height: 73px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; }
#button5 { background-image:url("resources/img/exit_button.png"); width: 373px; height: 73px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; margin-top: 9px;}
#button5[gamepad="selected"], #button5:hover { background-image:url("resources/img/exit_button-hover.png"); width: 373px; height: 73px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; margin-top: 9px;}
#button6 { background-image:url("resources/img/setting_button.png"); width: 373px; height: 56px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; }
#button6[gamepad="selected"], #button6:hover { background-image:url("resources/img/setting_button-hover.png"); width: 373px; height: 56px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; }


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

.setting-title {
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #9aa1a6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
}

.btn[selected="selected"]{
  background: #fca63c;
  background-image: -webkit-linear-gradient(top, #fca63c, #d9a234);
  background-image: -moz-linear-gradient(top, #fca63c, #d9a234);
  background-image: -ms-linear-gradient(top, #fca63c, #d9a234);
  background-image: -o-linear-gradient(top, #fca63c, #d9a234);
  background-image: linear-gradient(to bottom, #fca63c, #d9a234);
  text-decoration: none;
}

.nextline { margin-left: 96px;}
.valign { vertical-align: bottom; }
.cursor { background-image:url("resources/img/cursor.png"); width: 53px; height: 29px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; margin-right: 5px; display: inline-block; vertical-align: middle; visibility: hidden;}

#settings { position: absolute; z-index: 2; top: 0; right: 0; width: 805px; height: 703px; background-color: white; display: none; font-family: FFXSIMTH; font-size: 24px; color: black; cursor: default;}
#settings li { margin-top: 5px; margin-bottom: 5px; }
#container { position: static; margin: 5px 10px 5px 10px; }
h1 {   text-decoration: underline; font-size: 24px; font-size: 28px; margin-top: 5px; margin-bottom: 10px; margin-left: 58px; color: #3498DB;}
#page_indicator { float: right; }
#page_indicator:after { clear:both; }
#page2 { display: none; }

.description { float: right; line-height: 43px; }

#left { position: fixed; bottom:6px; left: 483px;}
#right{ position: fixed; bottom:6px; right: 10px; }
#right input { margin-left: 2px; margin-right: 2px; }

#popup {  
  font-family: 'Open Sans';
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  box-shadow: 2px 2px 3px #666666;
  color: #000000;
  font-size: 16px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #CCCCCC 1px;
  text-decoration: none;
  display: block;
  visibility: hidden;
}

#popup ul { list-style-type: none; }
#popup ul, #popup li { padding: 0px; margin: 0px;}
#popup > ul > li:first-child{ margin-left: 12px; }
#popup > ul > li:last-child{ margin-left: 5px; }
#popup .buttonx { display: inline-block; margin: 7px; padding: 10px;}
#popup .buttonx:hover { border-style: solid; border-width: 2px; border-color: black; margin: 5px;}
#popup #LT {  background-image:url("resources/img/button_select/LT.png"); width: 49px; height: 63px; background-repeat: no-repeat; background-position: center; -webkit-user-select: none; -webkit-app-region: no-drag; }
#popup #RT {  background-image:url("resources/img/button_select/RT.png"); width: 45px; height: 61px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
#popup #LB {  background-image:url("resources/img/button_select/LB.png"); width: 64px; height: 45px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
#popup #RB {  background-image:url("resources/img/button_select/RB.png"); width: 65px; height: 45px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
#popup #xleft {  background-image:url("resources/img/button_select/left.png"); width: 64px; height: 64px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
#popup #xup {  background-image:url("resources/img/button_select/up.png"); width: 64px; height: 64px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
#popup #xdown {  background-image:url("resources/img/button_select/down.png"); width: 64px; height: 63px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
#popup #xright {  background-image:url("resources/img/button_select/right.png"); width: 64px; height: 63px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
#popup #a {  background-image:url("resources/img/button_select/a.png"); width: 63px; height: 62px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
#popup #b {  background-image:url("resources/img/button_select/b.png"); width: 61px; height: 60px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
#popup #y {  background-image:url("resources/img/button_select/y.png"); width: 64px; height: 62px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
#popup #x {  background-image:url("resources/img/button_select/x.png"); width: 61px; height: 62px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
#popup #L {  background-image:url("resources/img/button_select/JoyLeft.png"); width: 62px; height: 60px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
#popup #select {  background-image:url("resources/img/button_select/select.png"); width: 60px; height: 52px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
#popup #start {  background-image:url("resources/img/button_select/start.png"); width: 61px; height: 52px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
#popup #R {  background-image:url("resources/img/button_select/JoyRight.png"); width: 61px; height: 63px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable{ vertical-align: bottom; height: 23px; }
.btn.configurable[xbutton="LT"] {  background-image:url("resources/img/button_select/LT_20.png"); width: 16px; background-repeat: no-repeat; background-position: center; -webkit-user-select: none; -webkit-app-region: no-drag; }
.btn.configurable[xbutton="RT"] {  background-image:url("resources/img/button_select/RT_20.png"); width: 15px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable[xbutton="LB"] {  background-image:url("resources/img/button_select/LB_20.png"); width: 28px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable[xbutton="RB"] {  background-image:url("resources/img/button_select/RB_20.png"); width: 29px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable[xbutton="left"] {  background-image:url("resources/img/button_select/left_20.png"); width: 20px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable[xbutton="up"] {  background-image:url("resources/img/button_select/up_20.png"); width: 20px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable[xbutton="down"] {  background-image:url("resources/img/button_select/down_20.png"); width: 20px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable[xbutton="right"] {  background-image:url("resources/img/button_select/right_20.png"); width: 20px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable[xbutton="a"] {  background-image:url("resources/img/button_select/a_20.png"); width: 20px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable[xbutton="b"] {  background-image:url("resources/img/button_select/b_20.png"); width: 20px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable[xbutton="y"] {  background-image:url("resources/img/button_select/y_20.png"); width: 20px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable[xbutton="x"] {  background-image:url("resources/img/button_select/x_20.png"); width: 20px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable[xbutton="L"] {  background-image:url("resources/img/button_select/JoyLeft_20.png"); width: 20px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable[xbutton="select"] {  background-image:url("resources/img/button_select/select_20.png"); width: 23px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable[xbutton="start"] {  background-image:url("resources/img/button_select/start_20.png"); width: 23px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }
.btn.configurable[xbutton="R"] {  background-image:url("resources/img/button_select/JoyRight_20.png"); width: 20px; background-repeat: no-repeat; -webkit-user-select: none; -webkit-app-region: no-drag; background-position: center; }