.gamepad {
  background-size: contain;
  height: 48px;
  width: 48px;
}

.gamepad.btn{
  height: 40px;
  width: 40px;
}

.gamepad.dpad.vertical {
  background-image: url("../img/gamepad/vertical.svg");
}

.gamepad.dpad.horizontal {
  background-image: url("../img/gamepad/horizontal.svg");
}

body[data-gamepad="xbox"] .gamepad.A {
  background-image: url("../img/gamepad/xbox/A.svg");
}

body[data-gamepad="xbox"] .gamepad.B {
  background-image: url("../img/gamepad/xbox/B.svg");
}

body[data-gamepad="xbox"] .gamepad.L {
  background-image: url("../img/gamepad/xbox/LB.svg");
}

body[data-gamepad="xbox"] .gamepad.R {
  background-image: url("../img/gamepad/xbox/RB.svg");
}

body[data-gamepad="playstation"] .gamepad.A {
  background-image: url("../img/gamepad/playstation/cross.svg");
}

body[data-gamepad="playstation"] .gamepad.B {
  background-image: url("../img/gamepad/playstation/circle.svg");
}

body[data-gamepad="playstation"] .gamepad.L {
  background-image: url("../img/gamepad/playstation/L1.svg");
}

body[data-gamepad="playstation"] .gamepad.R {
  background-image: url("../img/gamepad/playstation/R1.svg");
}