@font-face {
  font-family: 'test';
  font-style: normal;
  font-weight: bold;
  src: url(../font/Square/Square721BT-Bold.woff2) format('woff2');
}

#settings{
  background-image:url("../img/background_settings.png"); 
  display: none;
}

#settings > .container {
	padding-top: 30px;
}

#settings .help {
  background-image: linear-gradient(to right, #1a1a24, transparent);
  height: 40px;
  width: 70%;
  position: relative;
  margin: 20px auto 0 auto;
  box-shadow: -20px 17px 20px -5px rgba(0,0,0,0.3);
}
#settings .help::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, #b9b9b9, transparent);
}
#settings .help::before {
    content: attr(data-title);
    font-family: test;
    z-index: 2;
    color: #e5e5f1;
    left: 1px;
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    top: -13px;
    text-shadow: 2px 0 1px #212121, -2px 0 1px #212121, 0 2px 1px #212121, 0 -2px 1px #212121, 1px 1px #212121, -1px -1px 1px #212121, 1px -1px 1px #212121, -1px 1px 1px #212121;
}

#settings .help .content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 50px;
    box-sizing: border-box;
}

#settings .help .content .text {
    margin: auto auto auto 20px;
    font-family: Open-Sans;
    color: #e5e5f1;
    text-shadow: 2px 0 0px #000000, -2px 0 0px #000000, 0 2px 0px #000000, 0 -2px 0px #000000, 1px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000;
    font-size: 14px;
}

#settings nav {
  margin: 10px 0;
}

#settings nav ul{
  display: flex;
  justify-content: center;
  font-family: 'test';
  text-shadow: 2px 0 1px #212121, -2px 0 1px #212121, 0 2px 1px #212121, 0 -2px 1px #212121, 1px 1px #212121, -1px -1px 1px #212121, 1px -1px 1px #212121, -1px 1px 1px #212121;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#settings nav ul li {
  display: inline-flex;
  margin: auto 20px;
  padding: 0 10px;
  border-radius: 20px;
}

#settings nav ul li:first-child span {
  margin: auto 0 auto 5px;
}

#settings nav ul li:last-child span {
  margin: auto 5px auto 0;
}

#settings nav ul li span {
  color: #cfcfcf;
}

#settings nav ul li.active span,
#settings nav ul li:not(.active):hover span {
  color: white;
}

#settings nav ul li:not(.active):hover{
  background-color: rgba(255,255,255,0.20);
  transition: all .2s ease-in; 
}

#settings .options {
  overflow-y: scroll;
  height: 490px;
}

#settings .options::-webkit-scrollbar {
  width: 10px;
}
#settings .options::-webkit-scrollbar-track {
  background: #696c91;
}
#settings .options::-webkit-scrollbar-thumb,
#settings .options::-webkit-scrollbar-thumb:hover {
  background: #43446e;
}

#settings .options ul { list-style: none; }
#settings .options li { 
	width: 100%; 
	height: 40px; 
	background: rgba(25, 26, 54, 0.49); 
	margin: 10px 0; 
	padding: 0px 20px; 
	position: relative; 
	display: flex; 
	box-sizing: border-box;
}

#settings .options li.active { background: rgba(25, 26, 54, 0.70) } 

#settings .options li:first-child { margin-top: 0; }
#settings .options li:last-child { margin-bottom: 0; }

#settings .options li .container {
  width: 60%;
  margin: auto;
  display: block;
  color: #e5e5f1;
  font-family: Open-Sans;
  text-shadow: 2px 0 1px #212121, -2px 0 1px #212121, 0 2px 1px #212121, 0 -2px 1px #212121, 1px 1px #212121, -1px -1px 1px #212121, 1px -1px 1px #212121, -1px 1px 1px #212121;
}

#settings .options li .container .left {
  float: left;
  margin-left: 30px;
  line-height: 24px;
}

#settings .options li .container .left::after {
    content: ":";
    display: inline-block;
    margin-left: -3px;
}

#settings .options li .container .right {
    float: right;
    text-shadow: none;
    margin-right: 60px;
}

#settings .options li .container::after {
    content: '';
    display: block;
    clear: both;
}

#settings .options li .container .right .option-wrap {
  margin: 0 10px 0 10px;
  position: relative;
}

#settings .options li .container .right .option-wrap select{
    display: inline-block;
    background: transparent;
    color: #e5e5f1;
    border: 0;
    width: 200px;
    text-align-last: center;
    line-height: 24px;
    height: 24px;
    -webkit-appearance: none;
    pointer-events: none;
}

#settings .options li .container .right .previous,
#settings .options li .container .right .next {
  display: inline-block;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  transition: all .2s ease-in;
}
#settings .options li .container .right .previous:hover,
#settings .options li .container .right .next:hover { 
  background-color: rgba(255,255,255,0.20); 
}
#settings .options li .container .right .previous {
  left: -10px;
  top: 50%;
  transform: translate(-100%,-50%);
  padding: 5px;
}
#settings .options li .container .right .previous .arrow,
#settings .options li .container .right .next .arrow {
    display: flex;
    width: 18px;
    height: 18px;
}
#settings .options li .container .right .previous .arrow > i,
#settings .options li .container .right .next .arrow > i {
    margin: auto;
}

#settings .options li .container .right .next{
    right: -10px;
    top: 50%;
    transform: translate(100%,-50%);
    padding: 5px 3px 5px 7px;
}

#settings .footer {
  background-image: linear-gradient(to left, #1a1a24, transparent);
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  
  font-family: 'test';
  text-shadow: 2px 0 1px #212121, -2px 0 1px #212121, 0 2px 1px #212121, 0 -2px 1px #212121, 1px 1px #212121, -1px -1px 1px #212121, 1px -1px 1px #212121, -1px 1px 1px #212121;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#settings .footer::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to left, #b9b9b9, transparent);
}

#settings .footer ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

#settings .footer li {
  display: inline-flex;
  margin: auto 20px;
}

#settings .footer li span {
  color: white;
  margin: auto 0 auto 5px;
}