@font-face {
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), url('../font/opensans/opensans-regular-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'Open-Sans-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), url('../font/opensans/opensans-bold-webfont.woff2') format('woff2');
}

*:focus{ outline: none; }
ul, ol, li, p { margin: 0; padding: 0; }
img { -webkit-user-drag: none; user-drag: none; }
li { list-style: none; }

html, body { 
  margin: 0; padding: 0; 
}

html {
  user-select: none; 
}

body { 
  width: 100vw; 
  height: 100vh; 
  overflow: hidden; 
  border: 1px solid #3f4046;
  box-sizing: border-box; 
  background: transparent;
}

.background {
	background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

footer {
  background-image: linear-gradient(to left, #1a1a24, transparent);
  z-index: -1;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: 'test';
  text-shadow: 2px 0 1px #212121, -2px 0 1px #212121, 0 2px 1px #212121, 0 -2px 1px #212121, 1px 1px #212121, -1px -1px 1px #212121, 1px -1px 1px #212121, -1px 1px 1px #212121;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

footer::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(to left, #b9b9b9, transparent);
}

footer ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

footer li {
  display: inline-flex;
  margin: auto 20px;
}

footer li span {
  color: white;
  margin: auto 0 auto 5px;
}