@font-face {
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), url('../font/opensans/opensans-regular-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'Open-Sans-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), url('../font/opensans/opensans-bold-webfont.woff2') format('woff2');
}

*:focus{ outline: none; }
ul, ol, li, p { margin: 0; padding: 0; }
img { -webkit-user-drag: none; user-drag: none; }
li { list-style: none; }

html, body { 
  margin: 0; padding: 0; 
}

html {
  user-select: none; 
}

body { 
  width: 100vw; 
  height: 100vh; 
  overflow: hidden; 
  border: 1px solid #3f4046;
  box-sizing: border-box; 
  background: transparent;
}

.background {
	background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}